[submodule "stlink"]
	path = stlink
	url = git@github.com:WildernessLabs/stlink.git
[submodule "mono"]
	path = mono
	url = git@github.com:WildernessLabs/mono.git
[submodule "tools"]
	path = tools
	url = https://bitbucket.org/nuttx/tools.git
[submodule "openocd"]
	path = openocd
	url = git@github.com:WildernessLabs/openocd.git
[submodule "mbedtls"]
	path = mbedtls
	url = git@github.com:wildernesslabs/mbedtls
