source [find interface/stlink.cfg]
source [find target/stm32f7x.cfg]

# reset_config can be commented out if using official ST-Link devices.
# It's necessary for ST-Link clones when not using the RST pin connection.
reset_config none separate

gdb_port 4242
debug_level 1
tcl_port 6666

stm32f7x.cpu configure -rtos auto

init
arm semihosting enable
arm semihosting_fileio enable

reset init

if {0} {
  set image nuttx/nuttx.bin
  set user_image nuttx/nuttx_user.bin

  load_image $image 0x08000000

  if {[file exists $user_image]} {
    load_image $user_image 0x08040000
  }
}
