source [find interface/stlink.cfg]
source [find target/stm32f7x.cfg]

# reset_config can be commented out if using official ST-Link devices.
# It's necessary for ST-Link clones when not using the RST pin connection.
reset_config none separate

init
reset init
halt

set image nuttx/Meadow.OS.bin

if {[file exists $image]} {
  flash write_image erase $image 0x08000000
  verify_image $image 0x08000000
  shutdown
}

set image nuttx/nuttx.bin
set user_image nuttx/nuttx_user.bin

flash write_image erase $image 0x08000000
verify_image $image 0x08000000

if {[file exists $user_image]} {
  flash write_image erase $user_image 0x08040000
  verify_image $user_image 0x08040000
}

shutdown
