init
# reset_config can be commented out if using official ST-Link devices.
# It's necessary for ST-Link clones when not using the RST pin connection.
reset_config none separate
reset init
halt
flash write_image erase nuttx/nuttx.bin 0x08000000
verify_image nuttx/nuttx.bin 0x08000000
if {[file exists nuttx/nuttx_user.bin]} {
  flash write_image erase nuttx/nuttx_user.bin 0x08040000
  verify_image nuttx/nuttx_user.bin 0x08040000
}
shutdown
